<%=flash[:notice]%>
<p class="text-center">Realtime Voting Result</p>
<div class="voting center-block">
  <div id="voting_result"></div>
  <p class="text-center">voting result is here.</p>
</div>
<div class="center-block">
  <p class="text-center">What is your favorite language?</p>
  <ul class="list-unstyled dlist-group">
    <li class="list-group-item">
      <%= button_to 'Ada', languages_path, method: :post, remote: true, params: { name: 'ada' } %>
    </li>
    <li class="list-group-item">
      <%= button_to 'Python', languages_path, method: :post, remote: true, params: { name: 'python' } %>
    </li>
    <li class="list-group-item">
      <%= button_to 'Javascript', languages_path, method: :post, remote: true, params: { name: 'javascript' } %>
    </li>
    <li class="list-group-item">
      <%= button_to 'Eiffel', languages_path, method: :post, remote: true, params: { name: 'eiffel' } %>
    </li>
    <li class="list-group-item">
      <%= button_to 'Ruby', languages_path, method: :post, remote: true, params: { name: 'ruby' } %>
    </li>
  </ul>
</div>
